<!-- timelabs Section -->
<section id="timelabs" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>TimeLabs</h2>
            <p class="text-justify">TimeLabs is a community of institutions invested in the collecting, preserving and expanding urban memory. TimeLabs all around the world contribute to the growing platform of TimeLayers and encourage your individual contribution and your sharing of personal memory and history. <br>
            Please contact us if you are interested in participating.
            </p>
            <a class="twitter-timeline" href="https://twitter.com/hashtag/TimeLayers" data-widget-id="699947731691954177">#TimeLayers Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <br>
            <br>
            <br>
        </div>
    </div>
</section>
